In [1]:
import pandas as pd
import numpy as np
import csv

In [36]:
table = pd.read_csv('table.csv', sep = ';')

In [37]:
table.head()

,Nama,Kisaran harga,Customer Service,Support System,Pilihan pembayaran,Jumlah Server
0,Provider A,5,4,10.0,4,120
1,Provider B,4,4,5.0,4,87
2,Provider C,5,5,7.5,3,67
3,Provider D,4,4,4.0,5,98
4,Provider E,3,3,25.0,4,100

In [38]:
print(table["Kisaran harga"])

0    5
1    4
2    5
3    4
4    3
Name: Kisaran harga, dtype: int64

In [39]:
table = pd.DataFrame({'A1':['5','4','10','4','120'],
                     'A2':['4','4','5','4','84'],
                     'A3':['5','5','7.5','3','67'],
                     'A4':['4','4','4','5','98'],
                     'A5':['3','3','25','4','0'],},
                    index=[0,1,2,3,4])

In [8]:
table

    A1  A2   A3  A4  A5
0    5   4    5   4   3
1    4   4    5   4   3
2   10   5  7.5   4  25
3    4   4    3   5   4
4  120  84   67  98   0

In [40]:
bobot = pd.read_csv('bobot.csv', sep = ";")

In [92]:
bobot.head()

  A1 A2 A3 A4 A5
0  3  5  3  2  4

In [46]:
bobot1 = pd.DataFrame ({'A1':['3'],
                     'A2':['5'],
                     'A3':['3'],
                     'A4':['2'],
                     'A5':['4'],},
                    index=[0])

In [48]:
bobot1

  A1 A2 A3 A4 A5
0  3  5  3  2  4

In [94]:
print(bobot1.loc[0])
print(type(bobot1))
print(len(bobot1))

A1    3353335323533353435333532353335333533353235333...
A2    5353335323533353435333532353335333533353235333...
A3    3353335323533353435333532353335333533353235333...
A4    2353335323533353435333532353335333533353235333...
A5    4353335323533353435333532353335333533353235333...
Name: 0, dtype: object
<class 'pandas.core.frame.DataFrame'>
1

In [95]:
def jumlah_total(daftar_nilai):
    #inisialisasi
    z=0;
    x = daftar_nilai
    jml = len(x)

    #proses iterasi penjumlahan
    #menggunakan fungsi range
    for i in range(jml):
        y = x[i]
        z+=y

    #kembalikan hasil   
    return z

In [103]:
AA =[]
for i in range(0,5):
#     jumlah_data = bobot1[i]
#     print(jumlah_data)
#     AA.append(nilai)
# AA = np.array(AA)
# print(AA)
# print(type(AA))
# jmlh_bobot = jumlah_total(AA)

TypeError: unsupported operand type(s) for -: 'str' and 'str'